:root {
    --link-visited: #ca9c5e;
    --default-font: Arial, sans-serif;
    --icon-radius: 10px;
    --large-icon-size: 40px;
    --medium-icon-size: 30px;
    --small-icon-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Element Styles */
body {
    background-color: #000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    flex-wrap: wrap;
}



header a, .side-nav a {
    font-family: var(--default-font);
    text-decoration: none;
    color: white;
    display: flex;
    padding: 5px;
    justify-content: center;

}

a:hover, a:active {
    color: var(--link-visited);
}

header img {
    width: var(--large-icon-size);
    margin: 10px;
}

.social-links {
    display: flex;
}

body {
    background-color: red;
}

header ul {
    display: none;
    list-style: none;
}

header button {
    display: block;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #000;
    align-items: center
}

a {
    text-align: center;
}
/* Tablet Styles */
@media only screen and (min-width: 563px) and (max-width: 960px) {
    body {
        background-color: orange;
    }

    header .menu-button {
        display: none;
    }

    header img {
        width: var(--medium-icon-size);
    }

    header ul {
        display: flex;
    }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: blue;
    }

    header .menu-button {
        display: none;
    }

    header img {
        width: var(--small-icon-size);
    }

    header ul {
        display: flex;
    }
}

/* Toggles */
.invis {
    display: none
}