:root {
    --link-visited: #ca9c5e;
    --default-font: Arial, sans-serif;
    --icon-radius: 10px;
    --icon-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Toggles */
.invis {
    display:none;
}

/* Element Styles */
body {
    background-color: #000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 50px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 20px;
    /* text-decoration: none; */

}

a {
    font-family: var(--default-font);
    /* font-weight: */
    text-decoration: none;
    color: white;
    margin: 15px;
}



a:hover, a:active {
    color: var(--link-visited);
}

header img {
    width: var(--icon-size);
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: red;
    }

    ul {
        display: none;
    }

    header button {
        display: block;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: orange;
    }

    header button {
        display: none;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: blue;
    }

    header button {
        display: none;
    }
}